*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

.navMenuBar{
    color: #CE37B6 !important;
    font-size: 24px !important;
}
.navMenueItem2{
    text-decoration: none;
    color: white;
}

.navMenueItem2:hover{
    text-decoration: none;
    color: white;
    border-left: 5px solid white;
    transition: 0.1s;
}

.sidNavOpen {
    height: 100%;
    width: 250px;
    background-color: #CE37B6;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.1s;
    z-index: 10;
    margin-top: 60px;
   
}
.sidNavClose {
    height: 100%;
    width: 65px;
    background-color: #CE37B6 ;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.1s;
    margin-top: 60px;
    z-index: 10;
}
.contentOverlay{
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.4); 
   z-index: 7;
   cursor: pointer;
}
.contentOverlayClose{
    display: none;
}

.mainContent{
    z-index: 5;
    margin-top: 80px;
    margin-left: 65px;
}
.skill h1{
    text-align: center;
    color: brown;
}